<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Нарачки</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .back{
        background-color: #f6f6f6;
      }
      .head{
        background-color: white;
      }
      .bar{
        border-radius: 3%;
      }
      #linkStyle a, p, h3{
        color: white;
        text-decoration: none;
      }
      svg{
        opacity: 50%;
      }
      #links a{
        margin-right: 10px;
      }
      #padd{
        padding-top: 0px;
      }
      td{
        color: white;
      }
      #contenth3 h3{
        color: black;
      }
    </style>
</head>
<body class="back">

<!--    fixed-top if you want to stay sticky-ish on top-->
    <nav class="navbar navbar-expand-lg navbar-light border-bottom head">
  <div class="container">
    <img class="logo" id="logo" src="/static/images/b84e2cd958f04312b489ea37b6a0420c.png" th:src="@{images/b84e2cd958f04312b489ea37b6a0420c.png}" width="90px" height="90px">
    <a class="navbar-brand" href="/home">Мое Карго</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Дома</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newOrders">Нарачки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addNewOrders">Нови Нарачки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/financials">Откупи</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto d-flex justify-content-end align-items-center">
      <li class="nav-item">
        <a class="nav-link" th:text="'Здраво '+${username}"></a>
      </li>
      <a class="nav-link" href="myProfile"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg></a>
    </ul>
  </div>
</nav>
    <br>

    <div class="row pt-4" th:if="!${createOrder}">
        <div class="col-lg-10 mx-auto">
            <section id="links" class="d-flex justify-content-start p-3 rounded" style="background-color: white">
              <a href="/newOrders" class="btn btn-outline-secondary">Нови</a>
              <a href="/activeOrders" class="btn btn-outline-secondary">Активни</a>
              <a href="/deliveredOrders" class="btn btn-outline-secondary">Доставени</a>
              <a href="/returnedOrders" class="btn btn-outline-secondary">Вратени</a>
              <a href="/canceledOrders" class="btn btn-outline-secondary">Откажани</a>
            </section>
        </div>
    </div>

    <div th:if="${createOrder}">

      <div class="content" id="contenth3">
        <div class="container">
          <form role="form" action="/addNewOrder" method="POST">
            <input type="hidden" name="_token" value="dPvwo9RVA2ROtz7DbobBmWhUoebGOOoe7Du8mStq">            <div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <div class="row">
                      <div class="col">
                        <h4 class="card-title">Информации за Испраќачот</h4>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">

                    <div class="form-group">
                      <label for="sender_name">Цело Име</label>
                      <input type="text" name="sender_name" value="" class="form-control " placeholder="Внеси цело име" required="" autocomplete="on">
                    </div>

                    <div class="form-group">
                      <label for="sender_phone">Телефонски Број</label>
                      <input type="text" id="sender_phone" name="sender_phone" value="" placeholder="Внеси телефонски број" class="form-control " data-inputmask="'mask': '+38\\999999999'" data-mask="" im-insert="true" required="">
                    </div>

                    <div class="form-group">
                      <label for="sender_city">Град</label>
                      <input type="hidden" id="sender_city" name="sender_city" value="">
                      <input type="text" name="sender_city" value="" class="form-control " placeholder="Внеси град" required="" autocomplete="on">
                    </div>

                    <div class="form-group">
                      <label for="sender_street">Улица</label>
                      <input type="text" name="sender_street" value="" class="form-control " placeholder="Внеси улица" autocomplete="on">
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <div class="row">
                      <div class="col">
                        <h4 class="card-title">Информации за Примач</h4>
                      </div>
                    </div>
                  </div>

                  <div class="card-body">

                    <div class="form-group">
                      <label for="receiver_name">Цело Име</label>
                      <input id="field_receiver_name" type="text" name="receiver_name" value="" class="form-control " placeholder="Внеси цело име" required="" autocomplete="on">
                    </div>

                    <div class="form-group">
                      <label for="receiver_phone">Телефонски Број</label>
                      <input id="field_receiver_phone" type="text" name="receiver_phone" value="" placeholder="Внеси телефонски број" class="form-control " data-inputmask="'mask': '+38\\999999999'" data-mask="" im-insert="true" required="">
                    </div>

                    <div class="form-group">
                      <label for="receiver_city">Град</label>
                      <input type="hidden" id="receiver_city" name="receiver_city" value="">
                      <input type="text" name="receiver_city" value="" class="form-control " placeholder="Внеси град" required="" autocomplete="on">
                    </div>

                    <div class="form-group">
                      <label for="receiver_street">Улица</label>
                      <input id="field_receiver_street" type="text" name="receiver_street" value="" class="form-control " placeholder="Внеси улица" autocomplete="on">
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="receiver_street_number">Број</label>
                          <input id="field_receiver_street_number" type="text" name="receiver_street_number" value="" class="form-control " placeholder="Внеси број на улуца" autocomplete="on">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="receiver_entrance_number">Влез</label>
                          <input id="field_receiver_entrence_number" type="text" name="receiver_entrance_number" value="" class="form-control " placeholder="Внеси број на влез" autocomplete="on">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="receiver_apartment_number">Стан</label>
                          <input id="field_receiver_apartment_number" type="text" name="receiver_apartment_number" value="" class="form-control " placeholder="Внеси број на стан" autocomplete="on">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h4 class="card-title">Детали</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="price">Откуп</label>
                          <input id="price" type="text" name="price" value="" class="form-control " placeholder="Цена за откуп" autocomplete="on">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="comment">Коментар</label>
                          <textarea id="comment" name="comment" class="form-control " rows="5" placeholder="Внеси коментар" style="resize: none;"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <br>
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h4 class="card-title">Плаќање</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="is_paying">Поштарина</label>
                        <div class="form-check">
                          <input id="sender_is_paying" class="form-check-input" value="sender" type="radio" name="is_paying" checked="">
                          <label class="form-check-label">Плаќа испраќачот</label>
                        </div>

                        <div class="form-check">
                          <input id="receiver_is_paying" class="form-check-input" value="receiver" type="radio" name="is_paying">
                          <label class="form-check-label">Плаќа примачот</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="payment_type">Тип на Плаќање</label>
                        <div class="form-check">
                          <input id="cash_payment_type" class="form-check-input" value="cash" type="radio" name="payment_type" checked="">
                          <label class="form-check-label">Пари</label>
                        </div>
                        <div class="form-check">
                          <input id="invoice_payment_type" class="form-check-input" value="invoice" type="radio" name="payment_type">
                          <label class="form-check-label">Фактура</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mb-5">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Зачувај Нарачка</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div th:if="${newOrders}">
      <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <section id="padd" class="d-flex justify-content-between p-4" style="background-color: gray"><p class="lead">Нови Нарачки:</p></section>

          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Статус</th>
                    <th>Примач</th>
                    <th>Адреса на примач</th>
                    <th>Откуп (во денари)</th>
                    <th>Поштарина (во денари)</th>
                    <th>Дата</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order: ${orders}" class="bg-primary">
                    <td th:text="${order.getOrderStatus()}"></td>
                    <td th:text="${order.getReceiver().getFullName()}"></td>
                    <td th:text="${order.getReceiver().getCity()} + ' ' + ${order.getReceiver().getStreetName()}" ></td>
                    <td th:text="${order.getPrice()}"></td>
                    <td th:text="130"></td>
                    <td th:text="${order.getLocalDateTime()}"></td>


                    <td class="text-right">
                        <a th:href="@{'/order/{id}' (id=${order.getId()})}" class="btn btn-warning btn-sm">Види порачка</a>
                    </td>
  <!--                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
  <!--                      <form th:method="delete" th:action="@{'/products/delete/{id}' (id=${product.getId()})}" )="">-->
  <!--                        <button type="submit" class="btn btn-danger btn-sm">Избриши</button>-->
  <!--                      </form>-->
  <!--                      <a th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Измени</a>-->
  <!--                      -->
  <!--                    </th:block>-->

  <!--                    <form th:method="post" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}" )="">-->
  <!--                      <button type="submit" class="btn btn-success btn-sm">Додади во кошничка</button>-->
  <!--                    </form>-->


                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div th:if="${activeOrders}">
      <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <section class="d-flex justify-content-between p-4" style="background-color: gray"><p class="lead">Активни Нарачки:</p></section>

          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Статус</th>
                    <th>Примач</th>
                    <th>Адреса на примач</th>
                    <th>Откуп (во денари)</th>
                    <th>Поштарина (во денари)</th>
                    <th>Дата</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order: ${orders}">
                    <td th:text="${order.getOrderStatus()}"></td>
                    <td th:text="${order.getReceiver().getFullName()}"></td>
                    <td th:text="${order.getReceiver().getCity()} + ' ' + ${order.getReceiver().getStreetName()}" ></td>
                    <td th:text="${order.getPrice()}"></td>
                    <td th:text="130"></td>
                    <td th:text="${order.getLocalDateTime()}"></td>


                    <!--                  <td class="text-right">-->
                    <!--                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
                    <!--                      <form th:method="delete" th:action="@{'/products/delete/{id}' (id=${product.getId()})}" )="">-->
                    <!--                        <button type="submit" class="btn btn-danger btn-sm">Избриши</button>-->
                    <!--                      </form>-->
                    <!--                      <a th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Измени</a>-->
                    <!--                      <a th:href="@{'/products/discount/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Додади попуст</a>-->
                    <!--                    </th:block>-->

                    <!--                    <form th:method="post" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}" )="">-->
                    <!--                      <button type="submit" class="btn btn-success btn-sm">Додади во кошничка</button>-->
                    <!--                    </form>-->
                    <!--                  </td>-->

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div th:if="${deliveredOrders}">
      <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <section class="d-flex justify-content-between p-4" style="background-color: gray"><p class="lead">Доставени Нарачки:</p></section>

          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Статус</th>
                    <th>Примач</th>
                    <th>Адреса на примач</th>
                    <th>Откуп (во денари)</th>
                    <th>Поштарина (во денари)</th>
                    <th>Дата</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order: ${orders}" class="bg-success">
                    <td th:text="${order.getOrderStatus()}"></td>
                    <td th:text="${order.getReceiver().getFullName()}"></td>
                    <td th:text="${order.getReceiver().getCity()} + ' ' + ${order.getReceiver().getStreetName()}" ></td>
                    <td th:text="${order.getPrice()}"></td>
                    <td th:text="130"></td>
                    <td th:text="${order.getLocalDateTime()}"></td>


                    <!--                  <td class="text-right">-->
                    <!--                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
                    <!--                      <form th:method="delete" th:action="@{'/products/delete/{id}' (id=${product.getId()})}" )="">-->
                    <!--                        <button type="submit" class="btn btn-danger btn-sm">Избриши</button>-->
                    <!--                      </form>-->
                    <!--                      <a th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Измени</a>-->
                    <!--                      <a th:href="@{'/products/discount/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Додади попуст</a>-->
                    <!--                    </th:block>-->

                    <!--                    <form th:method="post" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}" )="">-->
                    <!--                      <button type="submit" class="btn btn-success btn-sm">Додади во кошничка</button>-->
                    <!--                    </form>-->
                    <!--                  </td>-->

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div th:if="${returnedOrders}">
      <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <section class="d-flex justify-content-between p-4" style="background-color: gray"><p class="lead">Вратени Нарачки:</p></section>

          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Статус</th>
                    <th>Примач</th>
                    <th>Адреса на примач</th>
                    <th>Откуп (во денари)</th>
                    <th>Поштарина (во денари)</th>
                    <th>Дата</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order: ${orders}" class="bg-secondary">
                    <td th:text="${order.getOrderStatus()}"></td>
                    <td th:text="${order.getReceiver().getFullName()}"></td>
                    <td th:text="${order.getReceiver().getCity()} + ' ' + ${order.getReceiver().getStreetName()}" ></td>
                    <td th:text="${order.getPrice()}"></td>
                    <td th:text="130"></td>
                    <td th:text="${order.getLocalDateTime()}"></td>


                    <!--                  <td class="text-right">-->
                    <!--                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
                    <!--                      <form th:method="delete" th:action="@{'/products/delete/{id}' (id=${product.getId()})}" )="">-->
                    <!--                        <button type="submit" class="btn btn-danger btn-sm">Избриши</button>-->
                    <!--                      </form>-->
                    <!--                      <a th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Измени</a>-->
                    <!--                      <a th:href="@{'/products/discount/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Додади попуст</a>-->
                    <!--                    </th:block>-->

                    <!--                    <form th:method="post" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}" )="">-->
                    <!--                      <button type="submit" class="btn btn-success btn-sm">Додади во кошничка</button>-->
                    <!--                    </form>-->
                    <!--                  </td>-->

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div th:if="${canceledOrders}">
      <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <section class="d-flex justify-content-between p-4" style="background-color: gray"><p class="lead">Откажани Нарачки:</p></section>

          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table id="example" style="width:100%" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Статус</th>
                    <th>Примач</th>
                    <th>Адреса на примач</th>
                    <th>Откуп (во денари)</th>
                    <th>Поштарина (во денари)</th>
                    <th>Дата</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order: ${orders}" class="bg-dark">
                    <td th:text="${order.getOrderStatus()}"></td>
                    <td th:text="${order.getReceiver().getFullName()}"></td>
                    <td th:text="${order.getReceiver().getCity()} + ' ' + ${order.getReceiver().getStreetName()}" ></td>
                    <td th:text="${order.getPrice()}"></td>
                    <td th:text="130"></td>
                    <td th:text="${order.getLocalDateTime()}"></td>


                    <!--                  <td class="text-right">-->
                    <!--                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
                    <!--                      <form th:method="delete" th:action="@{'/products/delete/{id}' (id=${product.getId()})}" )="">-->
                    <!--                        <button type="submit" class="btn btn-danger btn-sm">Избриши</button>-->
                    <!--                      </form>-->
                    <!--                      <a th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Измени</a>-->
                    <!--                      <a th:href="@{'/products/discount/{id}' (id=${product.getId()})}" class="btn btn-warning btn-sm">Додади попуст</a>-->
                    <!--                    </th:block>-->

                    <!--                    <form th:method="post" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}" )="">-->
                    <!--                      <button type="submit" class="btn btn-success btn-sm">Додади во кошничка</button>-->
                    <!--                    </form>-->
                    <!--                  </td>-->

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>