<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="height: 720px" class="jumbotron">
<div class="jumbotron text-center">
    <h1 class="display-3">Ви благодариме!</h1>
    <p class="lead"><strong>Проверете го Вашиот е-маил</strong> за понатамошни инструкции околу вашиот профил.</p>
    <hr>
</div>
</body>
</html>